USE [ONLINEMUSIC]
GO
/****** Object:  Table [dbo].[ALBUM]    Script Date: 3/28/2018 2:06:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ALBUM](
	[ALBUM_ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](100) NULL,
	[RELEASE_DATE] [smalldatetime] NULL,
	[TOTAL_TRACKS] [int] NULL,
	[IMAGE] [binary](200) NULL,
	[GENRE_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ALBUM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FREQUENCY]    Script Date: 3/28/2018 2:06:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FREQUENCY](
	[FREQUENCY_ID] [int] IDENTITY(1,1) NOT NULL,
	[DATE] [smalldatetime] NULL,
	[USER_ID] [int] NULL,
	[MUSIC_ID] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GENRE]    Script Date: 3/28/2018 2:06:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GENRE](
	[GENRE_ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](200) NULL,
	[NOTE] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[GENRE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HISTORY]    Script Date: 3/28/2018 2:06:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HISTORY](
	[HISTORY_ID] [int] IDENTITY(1,1) NOT NULL,
	[TOTAL_VIEW] [int] NULL,
	[VIEW_DATE] [smalldatetime] NULL,
	[MUSIC_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[HISTORY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HUMAN]    Script Date: 3/28/2018 2:06:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HUMAN](
	[HUMAN_ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](200) NULL,
	[BIRTHDAY] [smalldatetime] NULL,
	[ADDRESS] [nvarchar](200) NULL,
	[PHONE] [nvarchar](200) NULL,
	[EMAIL] [nvarchar](200) NULL,
	[NOTE] [nvarchar](200) NULL,
	[IMAGE] [binary](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[HUMAN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LYRICS]    Script Date: 3/28/2018 2:06:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LYRICS](
	[LYRICS_ID] [int] IDENTITY(1,1) NOT NULL,
	[NOTE] [char](100) NULL,
	[CONTENT] [nvarchar](500) NULL,
	[MUSIC_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[LYRICS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MUSIC]    Script Date: 3/28/2018 2:06:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MUSIC](
	[NAME] [nvarchar](100) NULL,
	[MUSIC_FILE] [binary](200) NULL,
	[MUSIC_ID] [int] IDENTITY(1,1) NOT NULL,
	[DURATION] [nvarchar](100) NULL,
	[IMAGE] [binary](200) NULL,
	[COUNTRY] [nvarchar](200) NULL,
	[SINGER_ID] [int] NULL,
	[AUTHOR_ID] [int] NULL,
	[GENRE_ID] [int] NULL,
	[TITLE_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MUSIC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MUSIC_USER]    Script Date: 3/28/2018 2:06:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MUSIC_USER](
	[USER_ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](100) NULL,
	[PASSWORD] [nvarchar](100) NULL,
	[HUMAN_ID] [int] NULL,
	[ROLE_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PLAYLIST]    Script Date: 3/28/2018 2:06:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PLAYLIST](
	[USER_ID] [int] IDENTITY(1,1) NOT NULL,
	[MUSIC_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC,
	[MUSIC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ROLE]    Script Date: 3/28/2018 2:06:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLE](
	[ROLE_ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ROLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TITLE]    Script Date: 3/28/2018 2:06:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TITLE](
	[TITLE_ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](100) NULL,
	[NOTE] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[TITLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[ALBUM]  WITH CHECK ADD FOREIGN KEY([GENRE_ID])
REFERENCES [dbo].[GENRE] ([GENRE_ID])
GO
ALTER TABLE [dbo].[FREQUENCY]  WITH CHECK ADD FOREIGN KEY([MUSIC_ID])
REFERENCES [dbo].[MUSIC] ([MUSIC_ID])
GO
ALTER TABLE [dbo].[FREQUENCY]  WITH CHECK ADD FOREIGN KEY([USER_ID])
REFERENCES [dbo].[MUSIC_USER] ([USER_ID])
GO
ALTER TABLE [dbo].[HISTORY]  WITH CHECK ADD FOREIGN KEY([MUSIC_ID])
REFERENCES [dbo].[MUSIC] ([MUSIC_ID])
GO
ALTER TABLE [dbo].[LYRICS]  WITH CHECK ADD FOREIGN KEY([MUSIC_ID])
REFERENCES [dbo].[MUSIC] ([MUSIC_ID])
GO
ALTER TABLE [dbo].[MUSIC]  WITH CHECK ADD FOREIGN KEY([AUTHOR_ID])
REFERENCES [dbo].[HUMAN] ([HUMAN_ID])
GO
ALTER TABLE [dbo].[MUSIC]  WITH CHECK ADD FOREIGN KEY([GENRE_ID])
REFERENCES [dbo].[GENRE] ([GENRE_ID])
GO
ALTER TABLE [dbo].[MUSIC]  WITH CHECK ADD FOREIGN KEY([SINGER_ID])
REFERENCES [dbo].[HUMAN] ([HUMAN_ID])
GO
ALTER TABLE [dbo].[MUSIC]  WITH CHECK ADD FOREIGN KEY([TITLE_ID])
REFERENCES [dbo].[TITLE] ([TITLE_ID])
GO
ALTER TABLE [dbo].[MUSIC_USER]  WITH CHECK ADD FOREIGN KEY([HUMAN_ID])
REFERENCES [dbo].[HUMAN] ([HUMAN_ID])
GO
ALTER TABLE [dbo].[MUSIC_USER]  WITH CHECK ADD FOREIGN KEY([ROLE_ID])
REFERENCES [dbo].[ROLE] ([ROLE_ID])
GO
ALTER TABLE [dbo].[PLAYLIST]  WITH CHECK ADD FOREIGN KEY([MUSIC_ID])
REFERENCES [dbo].[MUSIC] ([MUSIC_ID])
GO
ALTER TABLE [dbo].[PLAYLIST]  WITH CHECK ADD FOREIGN KEY([USER_ID])
REFERENCES [dbo].[MUSIC_USER] ([USER_ID])
GO
